html {
  overflow: hidden;   
}

body {
  font-family: monospace;
  font-size: 18px;
  background: grey;
  color: #666;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.app {

}

.container {

}

#moonLogo {
    position: absolute;
    width: 40%;
    padding-left: 10px;
    padding-top: 25em;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

/*BG*/
.layer:nth-child(1) {
    width: 50em;
    height: 20em;
    margin: auto;
    z-index: -11;

}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

/*LARGE ROCK*/
.layer:nth-child(2) {
    padding-top: 12em;
    padding-left: 30%;
    width: 40%;
    max-width: 9em;
    z-index: -3;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(150deg);
}

/*MEDIUM ROCK*/
.layer:nth-child(3) {
    width: 20%;
    max-width: 8em;
    padding-left: 52%;
    padding-top: 27.5em;
    z-index: -3;

}
.layer:nth-child(3) button {
  -webkit-transform: rotate(120deg);
}

/*SMALL ROCK*/
.layer:nth-child(4) {
    width: 4.5%;
    max-width: 4em;
    padding-top: 33em;
    padding-left: 37%;
    margin: auto;
    z-index: -3;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(90deg);
}

/*BUSH-LEFT*/
.layer:nth-child(5) {
    opacity: 0.6;
    width: 100%;
    z-index: -3;
    padding-top: 560px;
    margin-left: -33%;
    overflow: hidden;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(60deg);
}

/*SUN-YELLOW*/
.layer:nth-child(6) {
    width: 50%;
    z-index: -7;
    padding-top: 70px;
    padding-left: 70px;
}
.layer:nth-child(6) button {
  -webkit-transform: rotate(30deg);
}

/*SUN-BLUE*/
.layer:nth-child(7) {
    width: 60%;
    z-index: -8;
    padding-top: 50px;
    padding-left: 50px;
}
.layer:nth-child(7) button {
}

/*SUN-RING-BIG*/
.layer:nth-child(8) {
    width: 60%;
    z-index: -5;
    padding-top: 10px;
    padding-left: 50px;
}

/*SUN-RING-SMALL*/
.layer:nth-child(9) {
    width: 50%;
    z-index: -3;
    padding-top: 20px;
    padding-left: 30px;
}

/*SUN-HEX-BIG*/
.layer:nth-child(10) {
    opacity: 0.9;
    width: 40%;
    z-index: -6;
    padding-top: 330px;
    padding-left: 220px;
}

/*SUN-HEX-SMALL*/
.layer:nth-child(11) {
    opacity: 0.9;
    width: 36%;
    z-index: -4;
    padding-top: 420px;
    padding-left: 280px;
}

/*BUSH-RIGHT*/
.layer:nth-child(12) {
    width: 80%;
    z-index: -2;
    padding-top: 550px;
    padding-left: 350px;
}

/*BUSH-MIDDLE*/
.layer:nth-child(13) {
    opacity: 0.6;
    width: 60%;
    z-index: -1;
    padding-top: 650px;
    padding-left: 150px;
}

/*CLOUD-LEFT*/
.layer:nth-child(14) {
   margin-left: -22%;
    opacity: 0.4;
    width: 70%;
    z-index: -2;
    overflow: hidden;
}

/*CLOUD-RIGHT*/
.layer:nth-child(15) {
    opacity: 0.5;
    width: 70%;
    z-index: -1;
    padding-top: 100px;
    padding-left: 350px;
}

/*SUN-PINK*/
.layer:nth-child(16) {
    opacity: 0.9;
    width: 70%;
    z-index: -8;
}
